<div class="row">
  <div class="small-6 columns">
    <div class="row">
      <div class="small-5">
        <h4>My Lists</h4>
        {{input type="text" value=newListTitle action="createList" placeholder="New List Title" }}
      </div>
    </div>

    <div class="row">
      <div class="small-12">
        <ul>
          {{#each list in model}}
            <li>{{#link-to "lists.show" list}}{{list.title}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    {{outlet}}
  </div>
</div>